<div>
  <h1><%= @recipe.name %></h1>

 <section>
  <% if params[:toggle_public] %>
    <% if @recipe.public %>
      <%= link_to 'Make Private', toggle_public_recipe_path(@recipe), method: :patch %>
    <% else %>
      <%= link_to 'Make Public', toggle_public_recipe_path(@recipe), method: :patch %>
    <% end %>
  <% end %>
</section>

  <section class="detail_recipe">
   <p> Preparation Time:<%= @recipe.preparation_time %> hour </p>
   <p> Cooking Time: <%= @recipe.cooking_time%>Hour</p>
   <p><%= @recipe.description %></p>
  </section>

<section class="container-actions">
  <%= link_to 'Generate Shop List', user_users_shopping_list_path(@recipe.user), class: 'link_action' %>
    <% if @recipe.user == current_user %>
    <%= link_to 'Add Ingredient', new_user_recipe_food_path(@recipe.user,@recipe), class: 'link_action' %>
  <% end %>  
</section>



  <table class="table-food">
    <thead>
      <tr>
       <th>Food</th>
       <th>Index</th>
       <th>Quantity</th>
       <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food| %>
       <% food = recipe_food.food %>
       <tr>
         <td><%= food.name %></td>
         <td><%= recipe_food.quantity %></td>
        <td><%= food.price * recipe_food.quantity %></td>
        <td>
          <%= link_to 'Modify', '#', class: 'action_link' %>
          <%= link_to 'Delete', recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete, data: { confirm: 'Are you sure to delete the food'}, class: 'link_action' %>
        </td>
       </tr>
      <% end %> 
    </tbody>
  </table>

<div>
      <% if current_user.id == @recipe.user_id %>
        <% if @recipe.public %>
          <p>Current Status: Public</p>
          <%= button_to "Change public to private", recipe_path(@recipe), method: :patch%>
        <% else %>
          <p>Current Status: Private</p>
          <%= button_to "Change public to public", recipe_path(@recipe), method: :patch%>
        <% end %>
      <% end %>
    </div>


<div>

 <script>
    document.addEventListener('DOMContentLoaded', function() {
      // const checkbox = document.querySelector('input[type="checkbox"]');
      // const statusText = document.querySelector('div p');
      // const toggleButton = document.querySelector('button[type="submit"]');

      checkbox.addEventListener('change', function() {
        if (checkbox.checked) {
          statusText.textContent = 'Current Status: Public';
          toggleButton.textContent = 'Change public to private';
        } else {
          statusText.textContent = 'Current Status: Private';
          toggleButton.textContent = 'Change private to public';
        }
      });
    });
</script>
