<%= link_to new_user_food_path(user_id: current_user.id), class: "add-btn" do %>
    <%= "Add Food" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td>$<%= food.price %></td>
        <td>
           <%= button_to "Delete", user_food_path(user_id: current_user.id, id: food.id), method: :delete, data: { confirm: "Are you sure you want to delete this food?" }, class: "delete-btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>