<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <header>
  <nav class="navigation-menu">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Create Food", new_user_food_path(current_user) %></li>
        <li><%= link_to "List food", user_foods_path(current_user, current_user.id) %></li>
        <li><%= link_to "Create recipe", new_user_recipe_path(current_user, current_user.id) %></li>
        <li><%= link_to "List recipes", user_recipes_path(current_user, current_user.id) %></li>
        <li><%= link_to "Public recipes", public_recipes_path(current_user, current_user.id) %></li>
      <% end %>
    </ul>
  </nav>
</header>

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
